APP_VERSION=1.3.0

VITE_APP_NAME=Fluyer
VITE_APP_VERSION=1.3.0
VITE_APP_CONTACT_INFO=alvin.dimas.praditya@gmail.com
VITE_UPDATE_URL=https://github.com/alvindimas05/Fluyer/releases/latest

VITE_DEFAULT_MUSIC_TITLE="The Meaning of Life"
VITE_DEFAULT_MUSIC_ARTIST=Musician