# Ignore artifacts:
build
coverage
src-tauri/target
.svelte-kit
pnpm-lock.yaml
package-lock.json
pnpm-lock.yaml

src-tauri/tauri-plugin-fluyer/target
src-tauri/tauri-plugin-fluyer/permissions
src-tauri/tauri-plugin-fluyer/android/.gradle
src-tauri/tauri-plugin-fluyer/android/build
src-tauri/tauri-plugin-fluyer/android/gradle
